input{
	text-align: left;
	width: 300px;
	font-size: 60px;
	background-color: transparent;
	border: transparent;
	font-family: "Lucida Console", "Monaco", "monospace";

}

.boxDate{
	background-color: #ffffff;
	opacity: 0.6;
	font-size: 90px;
	text-align: center;
	width: 400px;
	height: 150px;
	margin: auto;
	margin-top: 10%;
	box-shadow: 10px 10px;
}

.boxTime{
	background-color: #ffffff;
	opacity: 0.6;
	font-size: 90px;
	text-align: center;
	width: 400px;
	height: 150px;
	margin: auto;
	box-shadow: 10px 10px;
} 